{% extends 'rtdf/base.html' %}

{% block css %}
{% load static%}
<link rel="stylesheet" href="{% static 'app/css/main.css' %}" />
{% endblock %}

{% block content %}

{% if form %}
  <h2>Confirmar Restablecimiento de Contraseña</h2>
  <p>Ingrese su nueva contraseña dos veces para confirmar el restablecimiento:</p>
  <br>
  <form method="post">
    {% csrf_token %}
    <!-- {{ form.new_password1.label_tag }} -->
    <label for="pw1">Ingrese la nueva contraseña:</label>
    {{ form.new_password1 }}
    <!-- {{ form.new_password2.label_tag }} -->
    <br>
    <label for="pw2">Confirme la nueva contraseña:</label>
    {{ form.new_password2 }}
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Guardar la nueva contraseña</button>
  </form>

{% else %}

  <h2>Enlace invalido</h2>
  <br>
  <p>El enlace de restablecimiento de contraseña ya no es válido. Por favor, solicite un nuevo enlace.</p>

{% endif %}
{% endblock %}