{% extends 'rtdf/base.html' %}

{% block css %}
{% load static%}
<link rel="stylesheet" href="{% static 'app/css/main.css' %}" />
{% endblock %}

{% block content %}

<body class="is-preload">
    <form method="post">

        {% csrf_token %}

    <h1>Pre-registro de profesional</h1>

    </br>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="">Tipo de usuario</label>
                <select id="" name="{{ registro_form.tipo_usuario.name }}" class="form-control form-control-sm">
                    <option value="" selected>Selecciona un tipo de usuario</option>
                    {% for choice in registro_form.tipo_usuario.field.choices %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="id_rut">Rut</label>
                {{ registro_form.numero_identificacion }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="id_primer_nombre">Primer nombre</label>
                {{ registro_form.primer_nombre }}
            </div>
            <div class="form-group col-md-3">
                <label for="id_segundo_nombre">Segundo nombre</label>
                {{ registro_form.segundo_nombre }}
            </div>
        </div>
        
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="id_ap_paterno">Apellido paterno</label>
                {{ registro_form.ap_paterno }}
            </div>
            <div class="form-group col-md-3">
                <label for="{{ registro_form.ap_materno.id_for_label }}">Apellido materno</label>
                {{ registro_form.ap_materno }}
            </div>
        </div>
    
        <!-- <div class="form-row">
            <div class="form-group col-md-3">
                <label for="id_fecha_nacimiento">Fecha nacimiento</label></br>
                {{ registro_form.fecha_nacimiento }}
            </div>
        </div>         -->

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="id_email">Correo electronico</label>
                {{ registro_form.email }}
            </div>
        </div>  

        <!-- <div class="form-row">
            <div class="form-group col-md-4">
                <label for="id_numero_telefonico">Numero de contacto</label>
                {{ registro_form.numero_telefonico }}
            </div>
        </div>  

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="region">Región</label>
                <select id="region" name="region">
                    <option value="" selected>Selecciona una región</option>
                    {% for region in regiones %}
                        <option value="{{ region.id_region }}">{{ region.region }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>  

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="provincia">Provincia</label>
                <select id="provincia" name="provincia" disabled>
                    <option value="" selected>Selecciona una provincia</option>
                </select>
            </div>
        </div>  

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="comuna">Comuna</label>
                <select id="comuna" name="id_comuna" disabled>
                    <option value="" selected>Selecciona una comuna</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="id_institucion">Institución</label>
                <select id="id_institucion" name="id_institucion" disabled>
                    <option value="" selected>Selecciona una institución</option>
                </select>
            </div>
        </div>




    
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="id_passowrd">Contraseña</label>
                {{ registro_form.password }}
                <small id="passwordHelpBlock" class="form-text text-muted">
                <p>*La contraseña debe tener al menos 8 caracteres, al menos una letra mayúscula, 
                    una minúscula, un número y un carácter especial.</p>
                </small>
            </div>
        </div> -->
    

    </BR>
    <button type="submit" class="btn btn-primary btn-block">Registrar</button>

</form>

<!-- <script src="{% static 'app/js/ubicacion_preregistro.js' %}"></script> -->


</body>



{% endblock %}