{% extends 'rtdf/base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'app/css/main.css' %}"/>
<link rel="stylesheet" href="{% static 'app/css/registro.css' %}" />


<body class="is-preload">
    <form method="post">

    {% csrf_token %}

    <div class="registro-container">

    <h1 class="registro-title">Registro de usuario</h1>

    </br>
    
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="id_rut">Rut</label>
                {{ registro_form.numero_identificacion }}
                <span class="text-danger">{{ registro_form.numero_identificacion.errors }}</span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="id_primer_nombre">Primer nombre</label>
                {{ registro_form.primer_nombre }}
            </div>
            <div class="form-group col-md-5">
                <label for="id_segundo_nombre">Segundo nombre</label>
                {{ registro_form.segundo_nombre }}
            </div>
        </div>
        
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="id_ap_paterno">Apellido paterno</label>
                {{ registro_form.ap_paterno }}
            </div>
            <div class="form-group col-md-5">
                <label for="{{ registro_form.ap_materno.id_for_label }}">Apellido materno</label>
                {{ registro_form.ap_materno }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="id_fecha_nacimiento">Fecha nacimiento</label></br>
                {{ registro_form.fecha_nacimiento }}
                <span class="text-danger">{{ registro_form.fecha_nacimiento.errors }}</span>
            </div>
        </div>        

        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="id_email">Correo electronico</label>
                {{ registro_form.email }}
            </div>
        </div>  

        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="id_numero_telefonico">Numero de contacto</label>
                {{ registro_form.numero_telefonico }}
                <span class="text-danger">{{ registro_form.numero_telefonico.errors }}</span>
            </div>
        </div>  

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="region">Región</label>
                <select id="region" name="region">
                    <option value="" selected>Selecciona una región</option>
                    {% for region in regiones %}
                        <option value="{{ region.id_region }}">{{ region.region }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>  

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="provincia">Provincia</label>
                <select id="provincia" name="provincia" disabled>
                    <option value="" selected>Selecciona una provincia</option>
                </select>
            </div>
        </div>  

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="comuna">Comuna</label>
                <select id="comuna" name="id_comuna" disabled>
                    <option value="" selected>Selecciona una comuna</option>
                </select>
            </div>
        </div>
    
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="id_passowrd">Contraseña</label>
                {{ registro_form.password }}
                <small id="passwordHelpBlock" class="form-text text-muted">
                    <span class="text-danger">{{ registro_form.password.errors }}</span>
                </small>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="tipo_usuario">Tipo de usuario</label>
                <select id="tipo_usuario" name="{{ registro_form.tipo_usuario.name }}" class="form-control form-control-sm">
                    <option value="" selected>Selecciona un tipo de usuario</option>
                    {% for choice in registro_form.tipo_usuario.field.choices %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        
    </br>

{% comment %} Aqui va los campos por usuario Paciente{% endcomment %}

<div class="form-row campos-paciente" style="display: none;">
    <div class="form-group col-md-6">
        <label for="telegram">Telegram</label>
        {{ registro_form.telegram }}
    </div>
</div>

<div class="form-row campos-paciente" style="display: none;">
    <div class="form-group col-md-6">
        <label for="fk_tipo_hipertension">Tipo de Hipertensión</label>
        {{ registro_form.fk_tipo_hipertension }}
    </div>
</div>

<div class="form-row campos-paciente" style="display: none;">
    <div class="form-group col-md-6">
        <label for="fk_tipo_diabetes">Tipo de Diabetes</label>
        {{ registro_form.fk_tipo_diabetes }}
    </div>
</div>

{% comment %} Aqui termina los campos por usuario Paciente {% endcomment %}

{% comment %} Aqui comienza los campos por usuario Familiar  {% endcomment %}

<div class="form-row campos-familiar" style="display: none;">
    <div class="form-group col-md-6">
        <label for="fk_tipo_familiar">Parentesco con paciente</label>
        {{ registro_form.fk_tipo_familiar }}
    </div>
</div>

<div class="form-row campos-familiar" style="display: none;">
    <div class="form-group col-md-6">
        <label for="rut_paciente">Rut del paciente</label>
        {{ registro_form.rut_paciente }}
    </div>
</div>

{% comment %} Aqui termina los campos por usuario Familiar {% endcomment %}


<button type="submit" class="btn btn-primary btn-block" registro-button>Registrar</button>

</div>

</form>

<script src="{% static 'app/js/selector_ubicacion.js' %}"></script>
<script src="{% static 'app/js/registro_final.js' %}"></script>

</body>
{% endblock %}