
{% extends 'rtdf/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'app/css/index.css' %}" />

<html>

                <!-- Post -->
                    <article class="box post post-excerpt"> 
                            <!-- <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a> -->
                        {% if tipo_usuario %}
                            {% if tipo_usuario == 'Paciente' %}
                            <body class="fondo-negro">
                                <div class="container">
                                    <header class="row text-left titulo_header">
                                        <div class="col-lg-8">
                                            <h1 class="titulo_index">Bienvenid@ <span class="span_title">{{ user.primer_nombre }} {{ user.ap_paterno }}</span></h1>
                                            <p class="texto_header">Recursos Terapéuticos para Fonoaudiólogos</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <h1 id="logo"><a class="w-50 float-right" href="{% url 'index' %}">RTDF</a></h1>
                                        </div>
                                    </header>
                                    


                                        <section id="perfil">

                                            <div class="row">
                                                <div class="col-lg-8 col-xl-7 col-xxl-6 d-flex align-items-center texto_inicio">
                                                    <div class="my-5 text-center text-xl-start">
                                                        <h1 class="display-5 fw-bolder mb-3">Perfil <span class="span_title">{{user.id_tp_usuario}}</span></h1>
                                                        <p class="lead fw-normal  mb-4 pr-mb-3">Gracias por utilizar nuestra plataforma de atención en línea. Estamos aquí para brindarte el mejor servicio y cuidado de tu salud vocal.
                                                            En tu panel de usuario, podrás acceder a tus informes, pautas terapéuticas y más. </p>
                                                        <p class="pr-mb-3">No dudes en contactar a tu 
                                                            fonoaudiólogo si tienes alguna pregunta o necesitas asistencia adicional.¡Tu salud vocal es nuestra prioridad! 
                                                            ¡Esperamos que tengas una experiencia positiva en nuestra plataforma!</p>
                                                    </div>
                                                </div>

                                                 <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5 float-right" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
                                            </div>

                                        </section>


                                        <section class="py-3" id="features">
                                            <div class=" ">
                                                <div class="col-lg-12 col-xl-12 col-xxl-12  align-items-center centrar">
                                                    <h1 class=" display-5 fw-bolder">Pautas<span class="span_title"> Vigentes </span></h1>
                                                    <p class="texto_pauta"> Pautas terapéuticas vigentes. Asegúrese de respetar las indicaciones por cada pauta terapéutica recetada.</p>
                                                </div>

                                                <div class="row">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead class="thead-dark">
                                                                <tr>
                                                                    <th>ID de pauta</th>
                                                                    <th>Tipo de terapia</th>
                                                                    <th>Descripción</th>
                                                                    <th>Informe asociado</th>
                                                                    <th>Tipo de informe</th>
                                                                    <th>Fecha de Inicio</th>
                                                                    <th>Fecha de Fin</th>
                                                                    <th>Empezar pauta</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for pauta_terapeutica in pautas_terapeuticas %}
                                                                <tr>
                                                                    <td>{{ pauta_terapeutica.id_pauta_terapeutica }}</td>
                                                                    <td>{{ pauta_terapeutica.fk_tp_terapia }}</td>
                                                                    <td>{{ pauta_terapeutica.descripcion|truncatechars:150 }}</td>
                                                                    <td>{{ pauta_terapeutica.fk_informe }}</td>
                                                                    <td>{{ pauta_terapeutica.fk_informe.tp_informe }}</td>
                                                                    <td>{{ pauta_terapeutica.fecha_inicio }}</td>
                                                                    <td>{{ pauta_terapeutica.fecha_fin }}</td>
                                                                    <td>
                                                                            {% if pauta_terapeutica.vocalizacion %}
                                                                                {% if pauta_terapeutica.vocalizacion %}
                                                                                <a href="{% url 'vocalizacion_con_pauta' pauta_terapeutica.id_pauta_terapeutica %}" class="btn btn-primary btn-block mx-auto">Empezar</a>
                                                                                {% endif %}
                            
                                                                            {% elif pauta_terapeutica.intensidad %}
                                                                                {% if pauta_terapeutica.intensidad %}
                                                                                <a href="{% url 'intensidad_con_pauta' pauta_terapeutica.id_pauta_terapeutica %}" class="btn btn-primary btn-block mx-auto">Empezar</a>
                                                                                {% endif %}
                        
                                                                            {% elif pauta_terapeutica.escalavocales %}
                                                                                {% if pauta_terapeutica.escalavocales %}
                                                                                    <a href="{% url 'escalas_vocales_con_pauta' pauta_terapeutica.id_pauta_terapeutica %}" class="btn btn-primary btn-block mx-auto">Empezar</a>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                    </td>
                                                                </tr>
                                                                {% empty %}
                                                                <tr>
                                                                    <td colspan="2">No hay pautas terapéuticas para hoy o en la semana.</td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                </div>

                                            </div>

                                        </section>

                                        <section class="py-3" id="features">
                                            <div class=" ">
                                                <div class="col-lg-12 col-xl-12 col-xxl-12  align-items-center centrar">
                                                    <h1 class=" display-5 fw-bolder">Pautas<span class="span_title"> Terminadas </span></h1>
                                                    <p class="texto_pauta"> Pautas terapéuticas que ya superaron su fecha de termino indicado por su profesional.</p>
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="table-responsive" id="tabla2">
                                                        
                                                        <table class="table">
                                                            <thead class="thead-dark">
                                                                <tr>
                                                                    <th>ID de pauta</th>
                                                                    <th>Tipo de terapia</th>
                                                                    <th>Descripción</th>
                                                                    <th>Informe asociado</th>
                                                                    <th>Tipo de informe</th>
                                                                    <th>Fecha de Inicio</th>
                                                                    <th>Fecha de Fin</th>
                                                                    <th>Empezar pauta</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody >
                                                                {% for pauta_terapeutica in pautas_terapeuticas_expiradas %}
                                                                <tr>
                                                                    <td>{{ pauta_terapeutica.id_pauta_terapeutica }}</td>
                                                                    <td>{{ pauta_terapeutica.fk_tp_terapia }}</td>
                                                                    <td>{{ pauta_terapeutica.descripcion|truncatechars:150 }}</td>
                                                                    <td>{{ pauta_terapeutica.fk_informe }}</td>
                                                                    <td>{{ pauta_terapeutica.fk_informe.tp_informe }}</td>
                                                                    <td>{{ pauta_terapeutica.fecha_inicio }}</td>
                                                                    <td>{{ pauta_terapeutica.fecha_fin }}</td>
                                                                    <td>Pauta terminada o expirada</td>
                                                                </tr>
                                                                {% empty %}
                                                                <tr>
                                                                    <td colspan="8">No hay pautas terapéuticas expiradas.</td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                        <nav aria-label="Page navigation">
                                                            <ul class="pagination">
                                                                {% if pautas_terapeuticas_expiradas.has_previous %}
                                                                    <li class="page-item">
                                                                        <a class="page-link" href="?page=1#tabla2" aria-label="Primero">
                                                                            <span aria-hidden="true">&laquo;&laquo;</span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="page-item">
                                                                        <a class="page-link" href="?page={{ pautas_terapeuticas_expiradas.previous_page_number }}#tabla2" aria-label="Anterior">
                                                                            <span aria-hidden="true">&laquo;</span>
                                                                        </a>
                                                                    </li>
                                                                {% endif %}
                                                        
                                                                <li class="page-item disabled">
                                                                    <span class="page-link">
                                                                        Página {{ pautas_terapeuticas_expiradas.number }} de {{ pautas_terapeuticas_expiradas.paginator.num_pages }}.
                                                                    </span>
                                                                </li>
                                                        
                                                                {% if pautas_terapeuticas_expiradas.has_next %}
                                                                    <li class="page-item">
                                                                        <a class="page-link" href="?page={{ pautas_terapeuticas_expiradas.next_page_number }}#tabla2" aria-label="Siguiente">
                                                                            <span aria-hidden="true">&raquo;</span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="page-item">
                                                                        <a class="page-link" href="?page={{ pautas_terapeuticas_expiradas.paginator.num_pages }}#tabla2" aria-label="Último">
                                                                            <span aria-hidden="true">&raquo;&raquo;</span>
                                                                        </a>
                                                                    </li>
                                                                {% endif %}
                                                            </ul>
                                                        </nav>
                                                        
                                                </div>

                                            </div>

                                        </section>
                                </div>
                            </body>




                            


                

                            {% elif tipo_usuario == 'Fonoaudiologo' %}


                                <body class="fondo-negro">
                                    <div class="container">
                                        <header class="row text-left titulo_header">
                                            <div class="col-lg-8">
                                                <h1 class="titulo_index">Bienvenid@ <span class="span_title">{{ user.primer_nombre }} {{ user.ap_paterno }}</span></h1>
                                                <p class="texto_header">Recursos Terapéuticos para Fonoaudiólogos</p>
                                            </div>
                                            <div class="col-lg-4">
                                                <h1 id="logo"><a class="w-50 float-right" href="{% url 'index' %}">RTDF</a></h1>
                                            </div>
                                        </header>
                                        


                                            <section class="py-3" id="perfil">

                                                <div class="row">
                                                    <div class="col-lg-8 col-xl-7 col-xxl-6 d-flex align-items-center texto_inicio">
                                                        <div class="my-5 text-center text-xl-start">
                                                            <h1 class="display-5 fw-bolder mb-3">Perfil <span class="span_title">{{user.id_tp_usuario}}</span></h1>
                                                            <p class="lead fw-normal  mb-4 pr-mb-3">Bienvenida a nuestra plataforma de atención en línea diseñada para mejorar la salud vocal de tus pacientes.
                                                                En tu panel de usuario, encontrarás herramientas y recursos para llevar a cabo evaluaciones vocales, crear pautas terapéuticas personalizadas 
                                                                y dar seguimiento a los progresos de tus pacientes.</p>
                                                            <p class="pr-mb-3">Si tienes alguna pregunta o necesitas asistencia, no dudes en contactarnos.
                                                                ¡Tu experiencia y conocimientos son valiosos para nosotros!</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5 float-right" src="{% static 'app\recursos\img\fonoaudiologia_perfil.jpg' %}" alt="..." /></div>
                                                </div>

                                            </section>


                                            <section class="py-3" id="features">
                                                <div class=" ">
                                                    <div class="col-lg-8 col-xl-7 col-xxl-6  align-items-center centrar">
                                                        <h1 class=" display-5 fw-bolder mb-4">Accesos <span class="span_title">directos</span></h1>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-4">
                                                          <div class="card card h-100">
                                                            <img src="{% static 'app\recursos\img\listado_pacientes.jpg' %}" height="220" width="600" class="card-img-top" alt="Imagen de la tarjeta">
                                                            <div class="card-body">
                                                              <h5 class="card-title display-6" >Listado de <span class="span_title">pacientes</span></h5>
                                                              <p class="card-text">En este apartado puede revisar rápidamente la información esencial de cada paciente, como nombres, antecedentes medicos y detalles de contacto.</p>
                                                              <a href="{% url 'listado_pacientes' %}" class="btn btn-primary float-right w-50 mt-3">Ver →</a>
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                          <div class="card card h-100">
                                                            <img src="{% static 'app\recursos\img\imagen_informes.png' %}" height="220" width="600" class="card-img-top" alt="Imagen de la tarjeta">
                                                            <div class="card-body">
                                                              <h5 class="card-title display-6">Listado de <span class="span_title">informes</span></h5>
                                                              <p class="card-text">Este apartado proporciona una visión general de los informes disponibles, permitiendo una rápida identificación y acceso a la información necesitada. </p>
                                                              <a href="{% url 'listado_informes' %}" class="btn btn-primary float-right w-50 mt-3">Ver →</a>
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                          <div class="card card h-100">
                                                            <img src="{% static 'app\recursos\img\audios.png' %}" height="220" width="600" class="card-img-top" alt="Imagen de la tarjeta">
                                                            <div class="card-body">
                                                              <h5 class="card-title display-6">Análisis de <span class="span_title">audio</span></h5>
                                                              <p class="card-text">Este apartado proporciona información relacionada al análisis de los audios generados por los pacientes, respecto a sus ejercicios terapéuticos realizados.</p>
                                                              <a href="{% url 'analisis_profe' %}" class="btn btn-primary float-right w-50 mt-3">Ver →</a>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>

                                                </div>

                                            </section>
                                    </div>
                                </body>
                            {% elif tipo_usuario == 'Familiar' %}
                                <h2><p>Bienvenido, {{ user.primer_nombre }}.</p></h2>
                                <p>
                                    Bienvenido, estimado familiar del paciente. Tu apoyo es fundamental en el proceso de recuperación vocal de tu ser querido.
                                    En esta plataforma, podrás acceder a información relevante sobre la salud vocal de tu familiar, incluyendo informes de evaluaciones, 
                                    pautas terapéuticas recomendadas y actualizaciones sobre su progreso. Nuestro objetivo es mantenerte informado y proporcionarte herramientas
                                    útiles para apoyar a tu ser querido en su camino hacia una voz saludable. Si tienes alguna pregunta o necesitas orientación sobre cómo utilizar 
                                    la plataforma, no dudes en contactarnos. Estamos aquí para ayudarte en todo momento.
                                </p>
                            {% elif tipo_usuario == 'Enfermera' %}
                                <h2><p>Bienvenido, {{ user.primer_nombre }}.</p></h2>
                                <p>
                                    En esta plataforma, desempeñas un papel fundamental en el equipo de atención médica de nuestros pacientes. Tu dedicación y cuidado son esenciales 
                                    para garantizar el bienestar de quienes confían en nosotros para su salud vocal.
                                    Trabajar en colaboración con los neurólogos y otros profesionales de salud es crucial para proporcionar el mejor tratamiento y seguimiento a 
                                    nuestros pacientes. Aquí podrás acceder a información relevante sobre los casos a tu cargo, programar citas, registrar datos médicos y comunicarte de 
                                    manera eficiente con el equipo.Estamos comprometidos a brindarte todas las herramientas y recursos necesarios para que puedas desempeñar tu labor de 
                                    la mejor manera posible. Si alguna vez necesitas asistencia o tienes preguntas, no dudes en contactar a nuestro equipo de soporte.
                       
                                </p>
                            {% elif tipo_usuario == 'Neurologo' %}
                                <h2><p>Bienvenido, {{ user.primer_nombre }}.</p></h2>
                                <p>
                                    Tu experiencia y conocimientos en neurología son fundamentales para el diagnóstico y tratamiento de trastornos neurológicos relacionados con la voz y el habla. 
                                    En esta plataforma, encontrarás todas las herramientas necesarias para llevar a cabo evaluaciones detalladas, realizar seguimiento de casos y colaborar estrechamente 
                                    con otros profesionales de la salud.Entendemos la importancia de tu labor en el equipo médico y estamos comprometidos a brindarte el apoyo que necesitas. 
                                    Aquí podrás acceder a historias clínicas, informes de pacientes, registros de tratamientos y comunicarte eficazmente con otros miembros del equipo de atención médica.
                                    Valoramos tu dedicación en la mejora de la salud vocal y la calidad de vida de nuestros pacientes. Si en algún momento requieres asistencia técnica o tienes consultas, 
                                    nuestro equipo de soporte estará a tu disposición.
                                </p>               
                                {% elif tipo_usuario == 'Admin' %}
                                <body class="fondo-negro">
                                    <div class="container">
                                        <header class="row text-left titulo_header">
                                            <div class="col-lg-8">
                                                <h1 class="titulo_index">Bienvenid@ <span class="span_title">{{ user.primer_nombre }} {{ user.ap_paterno }}</span></h1>
                                                <p class="texto_header">Recursos Terapéuticos para Fonoaudiólogos</p>
                                            </div>
                                            <div class="col-lg-4">
                                                <h1 id="logo"><a class="w-50 float-right" href="{% url 'index' %}">RTDF</a></h1>
                                            </div>
                                        </header>
                                        


                                            <section class="py-3" id="perfil">

                                                <div class="row">
                                                    <div class="col-lg-8 col-xl-7 col-xxl-6 d-flex align-items-center texto_inicio">
                                                        <div class="my-5 text-center text-xl-start">
                                                            <h1 class="display-5 fw-bolder mb-3">Perfil <span class="span_title">{{user.id_tp_usuario}}</span></h1>
                                                            <p class="lead fw-normal  mb-4 pr-mb-3">Como administrador de nuestra plataforma, tienes el control total sobre el sistema. 
                                                                Tu papel es esencial para garantizar que todo funcione sin problemas y para brindar soporte a otros usuarios.
                                                                Aquí puedes realizar tareas como la gestión de usuarios, la supervisión de la plataforma y la resolución de problemas.
                                                                </p>
                                                            <p class="pr-mb-3">Siempre estamos aquí para ayudarte en caso de que necesites asistencia. ¡Gracias por tu dedicación!</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5 float-right" src="{% static 'app\recursos\img\imagen_perfil_admin.png' %}" height="400" width="600" alt="..." /></div>
                                                </div>

                                            </section>


                                            <section class="py-3" id="features">
                                                <div class=" ">
                                                    <div class="col-lg-8 col-xl-7 col-xxl-6  align-items-center centrar">
                                                        <h1 class=" display-5 fw-bolder mb-4">Accesos <span class="span_title">Directos</span></h1>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-4">
                                                          <div class="card card h-100">
                                                            <img src="{% static 'app\recursos\img\fonoaudiologia_perfil.jpg' %}" height="225" width="600" class="card-img-top" alt="Imagen de la tarjeta">
                                                            <div class="card-body">
                                                              <h5 class="card-title display-6" >Listado de <span class="span_title">Fonoaudiólogos</span></h5>
                                                              <p class="card-text">En este apartado puede revisar rápidamente la información esencial de cada fonoaudiólogo, como nombres, antecedentes profesionales y detalles de contacto.</p>
                                                              <a href="{% url 'list_fono_admin' %}" class="btn btn-primary float-right w-50 mt-3">Ver →</a>
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                          <div class="card card h-100">
                                                            <img src="{% static 'app\recursos\img\imagen_generica.jpg' %}" height="225" width="600" class="card-img-top" alt="Imagen de la tarjeta">
                                                            <div class="card-body">
                                                              <h5 class="card-title display-6">Listado de <span class="span_title">Pacientes</span></h5>
                                                              <p class="card-text">En este apartado puede revisar rápidamente la información esencial de cada paciente, como nombres, antecedentes medicos, profesional vinculado y detalles de contacto. </p>
                                                              <a href="{% url 'list_paci_admin' %}" class="btn btn-primary float-right w-50 mt-3">Ver →</a>
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                          <div class="card card h-100">
                                                            <img src="{% static 'app\recursos\img\imagen_preregistro.png' %}" height="220" width="600" class="card-img-top" alt="Imagen de la tarjeta">
                                                            <div class="card-body">
                                                              <h5 class="card-title display-6">Gestión de <span class="span_title">Pre-registros</span></h5>
                                                              <p class="card-text">Este apartado permite la gestión en cuanto a los pre-registros realizados por usuario que desean incorporarse a la plataforma RTDF.</p>
                                                              <a href="{% url 'listado_preregistros' %}" class="btn btn-primary float-right w-50 mt-3">Ver →</a>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>

                                                </div>

                                            </section>

                                            <section class="py-3" id="features">

                                                <div class="col-lg-8 col-xl-7 col-xxl-6  align-items-center centrar">
                                                    <h1 class=" display-5 fw-bolder mb-4">Lista de <span class="span_title">Usuarios</span></h1>
                                                </div>

                                                <div class="row">
                                                    <div class="table-responsive">
                                                        <table class="table" id="lista_usuario">
                                                            <thead class="thead-dark">
                                                            <tr>
                                                                <th scope="col">ID</th>
                                                                <th scope="col">Nombre</th>
                                                                <th scope="col">Apellido</th>
                                                                <th scope="col">Numero de contacto</th>
                                                                <th scope="col">Tipo de usuario</th>
                                                                <th scope="col">Correo electrónico</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                {% for usuario in usuario %}
                                                                <th scope="row">{{ usuario.id_usuario }}</th>
                                                                <td>{{ usuario.primer_nombre }}</td>
                                                                <td>{{ usuario.ap_paterno }}</td>
                                                                <td>{{ usuario.numero_telefonico }}</td>
                                                                <td>{{ usuario.id_tp_usuario }}</td>
                                                                <td>{{ usuario.email }}</td>
                                                            </tr>
                                                                {% endfor %}
                    
                                                            </tbody>
                                                        </table>
                    
                                                        <nav aria-label="Page navigation">
                                                            <ul class="pagination">
                                                                {% if usuario.has_previous %}
                                                                    <li class="page-item">
                                                                        <a class="page-link" href="?page=1#lista_usuario" aria-label="Primero">
                                                                            <span aria-hidden="true">&laquo;&laquo;</span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="page-item">
                                                                        <a class="page-link" href="?page={{ usuario.previous_page_number }}#lista_usuario" aria-label="Anterior">
                                                                            <span aria-hidden="true">&laquo;</span>
                                                                        </a>
                                                                    </li>
                                                                {% endif %}
                                                        
                                                                <li class="page-item disabled">
                                                                    <span class="page-link">
                                                                        Página {{ usuario.number }} de {{ usuario.paginator.num_pages }}.
                                                                    </span>
                                                                </li>
                                                        
                                                                {% if usuario.has_next %}
                                                                    <li class="page-item">
                                                                        <a class="page-link" href="?page={{ usuario.next_page_number }}#lista_usuario" aria-label="Siguiente">
                                                                            <span aria-hidden="true">&raquo;</span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="page-item">
                                                                        <a class="page-link" href="?page={{ usuario.paginator.num_pages }}#lista_usuario" aria-label="Último">
                                                                            <span aria-hidden="true">&raquo;&raquo;</span>
                                                                        </a>
                                                                    </li>
                                                                {% endif %}
                                                            </ul>
                                                        </nav>
                                                        
                    
                                                    </div>
                                                </div>

                                            </section>
                                    </div>
                                </body>
                        
                            {% endif %}
                        {% else %}

                        <body class="fondo-negro">
                            <div class="container">
                                <header class="text-left pt-5">
                                    <h1 class="titulo_index">Bienvenido a <span class="span_title">RTDF</span></h1>
                                    <p>Recursos Terapéuticos para Fonoaudiólogos</p>
                                </header>
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 d-flex align-items-center order-md-first pr-md-4">
                                        <div class="">
                                            <div class="custom-margin">
                                                <h3 id="sub-titulo">Listo para tu terapia <span class="span_title">online</span> </h3>
                                                <p id="texto">Jamás fue tan sencilla, entretenida y cómoda. Todo esto y más sin salir de tu hogar</p>
                                            </div>
                                            <div>
                                                <h3 id="sub-titulo">Consulta integral <span class="span_title">garantizada</span></h3>
                                                <p id="texto">Confía en nuestros especialistas en tu camino hacia una comunicación y audición saludables. Tu bienestar es nuestra prioridad.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 order-md-last">
                                        <div id="carruselEjemplo" class="carousel slide" data-bs-ride="carousel">
                                            <div class="carousel-inner"> 
                                                <div class="carousel-item active">
                                                    <img src="{% static 'app\recursos\img\imagen_generica.jpg' %}" class="d-block w-100" alt="Imagen 1" loading="lazy" preload="auto">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="{% static 'app\recursos\img\imagen_generica2.jpg' %}" class="d-block w-100" alt="Imagen 2" loading="lazy" preload="auto">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="{% static 'app\recursos\img\imagen_generica3.jpg' %}" class="d-block w-100" alt="Imagen 3" loading="lazy" preload="auto">
                                                </div>
                                                <!-- Agrega más elementos "carousel-item" según tus necesidades -->
                                            </div>
                                            <button class="carousel-control-prev" type="button" data-bs-target="#carruselEjemplo" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Anterior</span>
                                            </button>
                                            <button class="carousel-control-next" type="button" data-bs-target="#carruselEjemplo" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Siguiente</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    {% endif %}
                    </article>


                    
        {% endblock %}
</html>