{% extends 'rtdf/base.html' %}

<html>
        {% block content %}
        <div id="content">
            <div class="inner">
                <!-- Post -->
                    <article class="box post post-excerpt"> 
                            <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
                        {% if tipo_usuario %}
                            {% if tipo_usuario == 'paciente' %}
                                <h2><p>Bienvenido, {{ user.primer_nombre }}.</p></h2>
                                <p> 
                                    Gracias por utilizar nuestra plataforma de atención en línea. Estamos aquí para brindarte el mejor servicio y cuidado de tu salud vocal.
                                    En tu panel de usuario, podrás acceder a tus informes, pautas terapéuticas y más. No dudes en contactar a tu 
                                    fonoaudiólogo si tienes alguna pregunta o necesitas asistencia adicional.¡Tu salud vocal es nuestra prioridad! 
                                    ¡Esperamos que tengas una experiencia positiva en nuestra plataforma!
                                </p>
                            {% elif tipo_usuario == 'fonoaudiologo' %}
                                <h2><p>Bienvenido, {{ user.primer_nombre }}.</p></h2>
                                <p>
                                    Te damos la bienvenida a nuestra plataforma de atención en línea diseñada para mejorar la salud vocal de tus pacientes.
                                    En tu panel de usuario, encontrarás herramientas y recursos para llevar a cabo evaluaciones vocales, crear pautas terapéuticas personalizadas 
                                    y dar seguimiento a los progresos de tus pacientes. Estamos comprometidos en proporcionarte las herramientas necesarias para brindar la mejor 
                                    atención a tus pacientes y contribuir a su recuperación vocal. Si tienes alguna pregunta o necesitas asistencia, no dudes en contactarnos.
                                    ¡Tu experiencia y conocimientos son valiosos para nosotros! ¡Esperamos que encuentres nuestra plataforma útil y efectiva en tu práctica profesional!
                                </p>
                            {% elif tipo_usuario == 'Familiar' %}
                                <h2><p>Bienvenido, {{ user.primer_nombre }}.</p></h2>
                                <p>
                                    Bienvenido, estimado familiar del paciente. Tu apoyo es fundamental en el proceso de recuperación vocal de tu ser querido.
                                    En esta plataforma, podrás acceder a información relevante sobre la salud vocal de tu familiar, incluyendo informes de evaluaciones, 
                                    pautas terapéuticas recomendadas y actualizaciones sobre su progreso. Nuestro objetivo es mantenerte informado y proporcionarte herramientas
                                    útiles para apoyar a tu ser querido en su camino hacia una voz saludable. Si tienes alguna pregunta o necesitas orientación sobre cómo utilizar 
                                    la plataforma, no dudes en contactarnos. Estamos aquí para ayudarte en todo momento.
                                </p>
                            {% elif tipo_usuario == 'Enfermera' %}
                                <h2><p>Bienvenido, {{ user.primer_nombre }}.</p></h2>
                                <p>
                                    En esta plataforma, desempeñas un papel fundamental en el equipo de atención médica de nuestros pacientes. Tu dedicación y cuidado son esenciales 
                                    para garantizar el bienestar de quienes confían en nosotros para su salud vocal.
                                    Trabajar en colaboración con los neurólogos y otros profesionales de salud es crucial para proporcionar el mejor tratamiento y seguimiento a 
                                    nuestros pacientes. Aquí podrás acceder a información relevante sobre los casos a tu cargo, programar citas, registrar datos médicos y comunicarte de 
                                    manera eficiente con el equipo.Estamos comprometidos a brindarte todas las herramientas y recursos necesarios para que puedas desempeñar tu labor de 
                                    la mejor manera posible. Si alguna vez necesitas asistencia o tienes preguntas, no dudes en contactar a nuestro equipo de soporte.
                       
                                </p>
                            {% elif tipo_usuario == 'Neurologo' %}
                                <h2><p>Bienvenido, {{ user.primer_nombre }}.</p></h2>
                                <p>
                                    Tu experiencia y conocimientos en neurología son fundamentales para el diagnóstico y tratamiento de trastornos neurológicos relacionados con la voz y el habla. 
                                    En esta plataforma, encontrarás todas las herramientas necesarias para llevar a cabo evaluaciones detalladas, realizar seguimiento de casos y colaborar estrechamente 
                                    con otros profesionales de la salud.Entendemos la importancia de tu labor en el equipo médico y estamos comprometidos a brindarte el apoyo que necesitas. 
                                    Aquí podrás acceder a historias clínicas, informes de pacientes, registros de tratamientos y comunicarte eficazmente con otros miembros del equipo de atención médica.
                                    Valoramos tu dedicación en la mejora de la salud vocal y la calidad de vida de nuestros pacientes. Si en algún momento requieres asistencia técnica o tienes consultas, 
                                    nuestro equipo de soporte estará a tu disposición.
                                </p>               
                                {% elif tipo_usuario == 'admin' %}
                                <h2><p>Bienvenido, {{ user.primer_nombre }}.</p></h2>
                                <p>
                                    Como administrador de nuestra plataforma, tienes el control total sobre el sistema. 
                                    Tu papel es esencial para garantizar que todo funcione sin problemas y para brindar soporte a otros usuarios.
                                    Aquí puedes realizar tareas como la gestión de usuarios, la supervisión de la plataforma y la resolución de problemas.
                                    Siempre estamos aquí para ayudarte en caso de que necesites asistencia. ¡Gracias por tu dedicación!
                                </p>

                                <table class="table">
                                    <thead class="thead-dark">
                                      <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Apellido</th>
                                        <th scope="col">Numero de contacto</th>
                                        <th scope="col">Tipo usuario</th>
                                        <th scope="col">Correo electronico</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        {% for usuario in usuario %}
                                        <th scope="row">{{ usuario.id_usuario }}</th>
                                        <td>{{ usuario.primer_nombre }}</td>
                                        <td>{{ usuario.ap_paterno }}</td>
                                        <td>{{ usuario.numero_telefonico }}</td>
                                        <td>{{ usuario.id_tp_usuario }}</td>
                                        <td>{{ usuario.email }}</td>
                                      </tr>
                                        {% endfor %}
                                    </tbody>
                                  </table>

                            {% endif %}
                        {% else %}
                        <article class="box post post-excerpt">
                            <header>
                                <h2><a href="#">Lorem ipsum dolor sit amet</a></h2>
                                <p>Feugiat interdum sed commodo ipsum consequat dolor nullam metus</p>
                            </header>
                            <a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
                            <p>
                                Quisque vel sapien sit amet tellus elementum ultricies. Nunc vel orci turpis. Donec id malesuada metus.
                                Nunc nulla velit, fermentum quis interdum quis, tate etiam commodo lorem ipsum dolor sit amet dolore.
                                Quisque vel sapien sit amet tellus elementum ultricies. Nunc vel orci turpis. Donec id malesuada metus.
                                Nunc nulla velit, fermentum quis interdum quis, convallis eu sapien. Integer sed ipsum ante.
                            </p>
                        </article>
                    {% endif %}
                    </article>
            </div>
        </div>
        {% endblock %}
</html>