{% extends 'rtdf/base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/main.css' %}" />
{% endblock %}

{% block content %}

<div class="container">

    <div>
        <a href="{% url 'listado_preregistros'%}">Volver al listado de pre-registros</a>
    </div>

    </br>
    
    
        <h1>Detalles del pre-registro N°{{ pre_registro.id_preregistro }}</h1>
    
        </br>
        
        <div class="table-container">
            <table class="table">
                <tbody>
                  <tr>
                    <th>Rut:</th>
                    <td scope="row">{{ pre_registro.rut }}</td>
                  </tr>
                  <tr>
                    <th>Nombre completo:</th>
                    <td scope="row">{{ pre_registro.nombre_completo }}</td>
                  </tr>
                  <!-- <tr>
                    <th>Fecha de nacimiento:</th>
                    <td scope="row">{{ pre_registro.fecha_nacimiento }}</td>
                  </tr> -->

                  <tr>
                    <th>Correo:</th>
                    <td scope="row">{{ pre_registro.email }}</td>
                  </tr>

                  <!-- <tr>
                    <th>Numero celular:</th>
                    <td scope="row">{{ pre_registro.celular }}</td>
                  </tr>

                  <tr>
                    <th>Comuna:</th>
                    <td scope="row">{{ pre_registro.comuna }}</td>
                  </tr> -->
                  <tr>
                    <th>Profesión:</th>
                    <td scope="row">{{ pre_registro.rol }}</td>
                  </tr>
                  <!-- <tr>
                    <th>Institución:</th>
                    <td scope="row">{{ pre_registro.intitucion }}</td>
                  </tr> -->
                  {% if pre_registro.validado == '0' %}
                    <tr>
                      <th>¿Está validado?:</th>
                      <td scope="row">Pendiente</td>
                    </tr>
                  {% else %}
                    <tr>
                      <th>¿Está validado?:</th>
                      <td scope="row">Validado</td>
                    </tr>

                    <tr>
                      <th>Validado por:</th>
                      <td scope="row">Administrador {{ pre_registro.admin}}</td>
                    </tr>

                    <tr>
                      <th>Fecha de validación:</th>
                      <td scope="row">{{ pre_registro.fecha_validacion}}</td>
                    </tr>
                {% endif %}

              </tbody>

              
            </table>
            </br>
            {% if pre_registro.validado == '0' %}
                  <!-- <button type="button" class="btn btn-primary btn-block" id="validar" onclick="validarRegistro({{ pre_registro.id_preregistro }})">Validar</button> -->
                  <form method="post" action="{% url 'detalle_preregistro' pre_registro.id_preregistro %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-block">Validar</button>
                    </form>
                
            {% else %}
                <button type="button" class="btn btn-primary btn-block" id="validar" disabled>Validado</button>
            {% endif %}
        </div>

        <br/>
        <h2>Coincidencia con registros precargados</h2>


        <br/>
        <div class="table-responsive">
            <table class="table" id="coef-auto-audios">
                <thead class="thead-dark">
                    <tr>
                        <th >ID</th>
                        <th >Numero identificación</th>
                        <th >Nombre completo</th>
                        <th >Región laboral</th>
                        <th >Titulo profesional</th>
                    </tr>
                </thead>
                <tbody>
                    {% if registro_precargado %}
                    <tr>
                        <td>{{ registro_precargado.id_registros }}</td>
                        <td>{{ registro_precargado.numero_identificacion }}</td>
                        <td>{{ registro_precargado.nombre_completo }}</td>
                        <td>{{ registro_precargado.region_laboral }}</td>
                        <td>{{ registro_precargado.titulo_profesional }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5">No existe coincidencia con nuestra base de datos.</td>
                    </tr>
                    {% endif %}
                </tbody>
                </table>
            </div>

            

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


{% endblock %}