{% extends 'rtdf/base.html' %}

{% block content %}
    <div>
        <a href="{% url 'list_fono_admin' %}">Volver a la lista de fonoaudiologos</a>
    </div>
    </br>
        <div class="container">
            <h1>Detalles del fonoaudiologo {{ fonoaudiologo.primer_nombre }} {{ fonoaudiologo.ap_paterno }}</h1>
        </br>
        </div>

        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Rut</th>
                <th scope="col">Correo electronico</th>
                <th scope="col">Numero de contacto</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{ fonoaudiologo.numero_identificacion }}</th>
                <td>{{ fonoaudiologo.email }}</td>
                <td>{{ fonoaudiologo.numero_telefonico }}</td>
              </tr>
            </tbody>
          </table>
          
{% endblock %}