{% extends 'rtdf/base.html' %}

{% block content %}
    <div>
        <a href="{% url 'list_neur_admin' %}">Volver a la lista de neurologos</a>
    </div>
    </br>
        <div class="container">
            <h1>Detalles del neurologo {{ neurologo.primer_nombre }} {{ neurologo.ap_paterno }}</h1>
        </br>
        </div>

        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Rut</th>
                <th scope="col">Correo electronico</th>
                <th scope="col">Numero de contacto</th>
                <th scope="col">Universidad estudiada</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{ neurologo.numero_identificacion }}</th>
                <td>{{ neurologo.email }}</td>
                <td>{{ neurologo.numero_telefonico }}</td>
                <td>{{ institucion }}</td>
              </tr>
            </tbody>
          </table>

        </br>
      </br>
      <h2><strong>Pacientes asignados</strong></h2>
      </br>
  
      <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID paciente</th>
              <th scope="col">Nombre completo</th>
              <th scope="col">telegram</th>
              <th scope="col">Diabetes</th>
              <th scope="col">hipertension</th>
            </tr>
          </thead>
          <tbody>
            {% for paciente_asociado in pacientes_asociados %}
            <tr>
              <td>{{ paciente_asociado.id_usuario.id_usuario }}</td>
              <td>
                <a href="{% url 'detalle_paciente' paciente_id=paciente_asociado.id_usuario.id_usuario %}">
                {{ paciente_asociado.id_usuario.primer_nombre }} 
                {{ paciente_asociado.id_usuario.segundo_nombre }}
                {{ paciente_asociado.id_usuario.ap_paterno }}
                {{ paciente_asociado.id_usuario.ap_materno }}
                </a>
              </td>
              <td>{{ paciente_asociado.telegram  }}</td>
              <td>{{ paciente_asociado.fk_tipo_diabetes  }}</td>
              <td>{{ paciente_asociado.fk_tipo_hipertension  }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

{% endblock %}