{% extends 'rtdf/base.html' %}

{% block content %}
    <div>
        <a href="{% url 'list_fono_admin' %}">Volver a la lista de fonoaudiologos</a>
    </div>
    </br>
        <div class="container">
            <h1>Detalles del fonoaudiologo {{ fonoaudiologo.primer_nombre }} {{ fonoaudiologo.ap_paterno }}</h1>
        </br>
            <p><strong>Rut:</strong>  {{ fonoaudiologo.numero_identificacion }}</p>
            <p><strong>correo electronico:</strong>  {{ fonoaudiologo.email }}</p>
            <p><strong>numero de contacto</strong>  {{ fonoaudiologo.numero_telefonico }}</p>
        </div>
{% endblock %}