

{% extends 'rtdf/base.html' %}

{% block content %}

{% load static%}

<link rel="stylesheet" href="{% static 'app/css/css_profesionales/detalle_prof_infor.css' %}"/>


<body class="is-preload"></body>
<div class="container">

<div>
    <a href="{% url 'detalle_paciente' paciente_relacionado.id_usuario.id_usuario %}">Volver a la información del paciente</a>
</div>

</br>
</br>


    <h1>Detalles del informe {{ informe.id_informe }}</h1>

    </br>
    <a href="{% url 'eliminar_informe_admin' informe.id_informe %}" class="btn btn-danger btn-derecha">
        Eliminar <i class="fas fa-trash-alt" style="margin-left: 5px;"></i> 
    </a>
    <a href="{% url 'editar_informe_admin' informe.id_informe %}" class="btn btn-primary btn-derecha">
        Editar <i class="fas fa-pencil-alt" style="margin-left: 5px;"></i>
    </a>
    
    </br>
    <div class="table-responsive">
        <table class="table">
            <tbody>
                {% if grbas %}

                {% if paciente_relacionado %}</p>
                <tr>
                    <th>Rut del paciente:</th>
                    <td>{{ paciente_relacionado.id_usuario.numero_identificacion }}</td>
                </tr>
                <tr>
                    <th>Paciente:</th>
                    <td>{{ paciente_relacionado.id_usuario.primer_nombre }} {{ paciente_relacionado.id_usuario.ap_paterno }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th>Titulo:</th>
                    <td>{{ informe.titulo }}</td>
                </tr>
                <tr>
                    <th>Descripción:</th>
                    <td>{{ informe.descripcion }}</td>
                </tr>
                <tr>
                    <th>Observación:</th>
                    <td>{{ informe.observacion }}</td>
                </tr>
                <tr>
                    <th>Fecha:</th>
                    <td>{{ informe.fecha }}</td>
                </tr>

                <tr>
                    <th>Tipo de informe:</th>
                    <td>GRBAS</td>
                </tr>
                <tr>
                    <th>Grado disfonía:</th>
                    <td class="valor-traducir">{{ grbas.g_grado_disfonia }}</td>
                </tr>
                <tr>
                    <th>Rugosidad de voz: </th>
                    <td class="valor-traducir">{{ grbas.r_aspereza }}</td>
                </tr>
                <tr>
                    <th>B (Respiración dificultosa):</th>
                    <td class="valor-traducir"> {{ grbas.b_soplo }}</td>
                </tr>
                <tr>
                    <th>Astenia o grado de fatiga de voz</th>
                    <td class="valor-traducir">{{ grbas.a_debilidad }}</td>
                </tr>
                <tr>
                    <th>S (Grado de tensión vocal): </th>
                    <td class="valor-traducir">{{ grbas.s_tension  }}</td>
                </tr>
                {% endif %}
                {% if rasati %}
                {% if paciente_relacionado %}</p>
                <tr>
                    <th>Rut del paciente:</th>
                    <td>{{ paciente_relacionado.id_usuario.numero_identificacion }}</td>
                </tr>
                <tr>
                    <th>Paciente:</th>
                    <td>{{ paciente_relacionado.id_usuario.primer_nombre }} {{ paciente_relacionado.id_usuario.ap_paterno }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th>Tipo de informe:</th>
                    <td>RASATI</td>
                </tr>
                <tr>
                    <th>Titulo:</th>
                    <td>{{ informe.titulo }}</td>
                </tr>
                <tr>
                    <th>Descripción:</th>
                    <td>{{ informe.descripcion }}</td>
                </tr>
                <tr>
                    <th>Observación:</th>
                    <td>{{ informe.observacion }}</td>
                </tr>
                <tr>
                    <th>Fecha:</th>
                    <td>{{ informe.fecha }}</td>
                </tr>
                <tr>
                    <th>Ronquera:</th>
                    <td class="valor-traducir">{{ rasati.r_ronquedad }}</td>
                </tr>
                <tr>
                    <th>Aspereza: </th>
                    <td class="valor-traducir">{{ rasati.a_aspereza }}</td>
                </tr>
                <tr>
                    <th>Soplosidad:</th>
                    <td class="valor-traducir"> {{ rasati.s_soplo }}</td>
                </tr>
                <tr>
                    <th>Astenia:</th>
                    <td class="valor-traducir">{{ rasati.a_astenia }}</td>
                </tr>
                <tr>
                    <th>Tensión: </th>
                    <td class="valor-traducir">{{ rasati.t_tension }}</td>
                </tr>
                <tr>
                    <th>Inestabilidad: </th>
                    <td class="valor-traducir">{{ rasati.i_inestabilidad }}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        </br>
        <button type="button" class="btn btn-primary btn-block" id="mostrar-formulario-btn">Agregar nueva pauta terapéutica</button>
    </div>
</div>

</br>
<!-- Formulario de pauta-terapeutica -->
</br>

<div class="container">
    <div id="formulario-pauta" class="general-form" style="display: none;">
        <form method="post">
        {% csrf_token %}

        <h2 class="hh2 mt-3">Ingresar nueva pauta terapéutica</h2>

        <br>
        
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="tipo_usuario"><i class="fa-solid fa-file-waveform"></i>Tipo de pauta terapeutica para diagnostico<span class="required">*</span></label>
                {{ form.fk_tp_terapia }}
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="cant_veces_dia"><i class="fa-solid fa-rotate-left"></i>Cantidad de veces al día <span class="required">*</span></label>
                {{ form.cant_veces_dia }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="descripcion"><i class="fa-solid fa-notes-medical"></i>Descripción <span class="required">*</span></label>
                {{ form.descripcion }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12 col-lg-6">
                <label for="fecha_inicio"><i class="fas fa-calendar"></i>Fecha Inicio <span class="required">*</span></label><br>
                <input type="datetime-local" class="campo_fecha" id="fecha_inicio" name="fecha_inicio" value="{{ form.fecha_inicio.value|date:'Y-m-d\TH:i' }}">
            </div>

            <div class="form-group col-md-12 col-lg-6">
                <label for="fecha_fin"><i class="fas fa-calendar"></i>Fecha fin <span class="required">*</span></label><br>
                <input type="datetime-local" class="campo_fecha" id="fecha_fin" name="fecha_fin" value="{{ form.fecha_fin.value|date:'Y-m-d\TH:i' }}">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="comentario"><i class="fa-solid fa-comment-medical"></i>Comentario <span class="required">*</span></label>
                {{ form.comentario }}
            </div>
        </div>

        

        {% comment %}Aqui va campos para vocalización{% endcomment %}

        <div class="campos-vocalizacion">

            <h2 class="hh2 col-md-12 mx-auto mt-3 mb-4">Campos de pauta de Vocalización</h2>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="{{ vocalizacion_form.duracion_seg.id_for_label }}"><i class="fa-solid fa-stopwatch-20"></i>Duración en segundos <span class="required">*</span></label>
                    {{ vocalizacion_form.duracion_seg }}
                </div>

                <div class="form-group col-md-4">
                    <label for="{{ vocalizacion_form.bpm.id_for_label }}"><i class="fa-solid fa-wave-square"></i>BPM <span class="required">*</span></label>
                    {{ vocalizacion_form.bpm }}
                </div>

                <div class="form-group col-md-4">
                    <label for="{{ vocalizacion_form.tempo.id_for_label }}"><i class="fa-solid fa-gauge"></i>Tempo <span class="required">*</span></label>
                    {{ vocalizacion_form.tempo }}
                </div>
            </div>

        </div>


        {% comment %}Aca termina los campos para vocalización{% endcomment %}

        {% comment %}Aqui va campos para intensidad{% endcomment %}

        <div class="campos-intensidad">

            <h3 class="hh2 col-md-12 mx-auto mt-3 mb-4">Campos de pauta de Intensidad</h3>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="{{ intensidad_form.intensidad.id_for_label }}"><i class="fa-solid fa-ear-listen"></i>Intensidad en dB <span class="required">*</span></label>
                    {{ intensidad_form.intensidad }}
                </div>

                <div class="form-group col-md-4">
                    <label for="{{ intensidad_form.min_db.id_for_label }}"><i class="fa-solid fa-ear-listen"></i>dB mínimo</label>
                    {{ intensidad_form.min_db }}
                </div>

                <div class="form-group col-md-4">
                    <label for="{{ intensidad_form.max_db.id_for_label }}"><i class="fa-solid fa-ear-listen"></i>dB máximo</label>
                    {{ intensidad_form.max_db }}
                </div>
            </div>

        </div>

        {% comment %}Aca termina los campos para intensidad{% endcomment %}
        </br>
        <div class="row">
            <div class="col-sm-6 mb-2">
                <button type="button" class="btn btn-danger w-100" id="ocultar-formulario-btn">Descartar la nueva pauta terapéutica</button>
            </div>
            <div class="col-sm-6 mb-2 custom-div">
                <button type="submit" class="btn btn-primary w-100">Guardar la nueva pauta terapéutica</button>
            </div>
        </div>
        </br>
        </br>
        </form>
    </div>

    <h2><strong>Pauta Terapéutica: Vocalización</strong></h2>
  </br>

  <div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">N° veces al día</th>
            <th scope="col">Fecha de inicio</th>
            <th scope="col">Fecha fin</th>
            <th scope="col">Duración segundos</th>
            <th scope="col">BPM</th>
            
          </tr>
        </thead>
        <tbody>
          {% for vocalizacion in datos_vocalizacion %}
          <tr>
            <td><a href="{% url 'detalle_pauta_admin' vocalizacion.id_pauta_terapeutica_id %}">
                Pauta {{ vocalizacion.id_pauta_terapeutica_id}}</a></td>
            <td>{{ vocalizacion.id_pauta_terapeutica.cant_veces_dia}}</td>
            <td>{{ vocalizacion.id_pauta_terapeutica.fecha_inicio }}</td>
            <td>{{ vocalizacion.id_pauta_terapeutica.fecha_fin }}</td>
            <td>{{ vocalizacion.duracion_seg }}</td>
            <td>{{ vocalizacion.bpm }}</td>
          </tr>
          {% empty %}
          <tr>
              <td colspan="8">Este informe aún no cuenta con pautas terapéuticas de vocalización adjuntas.</td>
          </tr>
          {% endfor %}          
        </tbody>
      </table>
    </div>

    </br>
    <h2><strong>Pauta Terapéutica: Intensidad</strong></h2>
    </br>

    <div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">N° veces al día</th>
                <th scope="col">Fecha de inicio</th>
                <th scope="col">Fecha fin</th>
                <th scope="col">Intensidad</th>
                <th scope="col">dB Minimo</th>
                <th scope="col">dB Maximo</th>
            </tr>
        </thead>
        <tbody>
            {% for intensidad in datos_intensidad %}
            <tr>
                <td><a href="{% url 'detalle_pauta_admin' intensidad.id_pauta_terapeutica_id %}">
                    Pauta {{ intensidad.id_pauta_terapeutica_id}}</a></td>
              <td>{{ intensidad.id_pauta_terapeutica.cant_veces_dia}}</td>
              <td>{{ intensidad.id_pauta_terapeutica.fecha_inicio }}</td>
              <td>{{ intensidad.id_pauta_terapeutica.fecha_fin }}</td>
              <td>{{ intensidad.intensidad }}</td>
              <td>{{ intensidad.min_db }}</td>
              <td>{{ intensidad.max_db }}</td>
            </tr>
            {% empty %}
            <tr>
                
                <td colspan="8">Este informe aún no cuenta con pautas terapéuticas de intensidad adjuntas.</td>
            </tr>
            {% endfor %}  
        </tbody>
        </table>
    </div>

</div>
</body>    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <script src="../../../static/app/js/pauta_terapeutica.js"></script> -->
    <script src="{% static 'app/js/template/pauta_terapeutica.js' %}"></script>
    <script src="{% static 'app/js/traductor_numerico.js' %}"></script>

{% endblock %}

