{% extends 'rtdf/base.html' %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'app/css/css_profesionales/detalle_prof_infor.css' %}"/>
<link rel="stylesheet" href="{% static 'app/css/tablas_titulo.css' %}"/>

    <body class="is-preload">
        <div class="global-container">
            <div class="card login-form">
                <div class="card-body">
                    <h1 class="card-title text-center">Listado de familiares</h1>
                    <div class="card-text">
                        <table class="table">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nombre completo</th>
                                <th scope="col">Tipo de usuario</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                            {% for familiar in familiar %}
                                <th scope="row">{{ familiar.id_usuario }}</th>
                                <th>
                                <a href="{% url 'detalle_familiar_admin' familiar.id_usuario %}">
                                {{ familiar.primer_nombre }} {{ familiar.segundo_nombre }} 
                                {{ familiar.ap_paterno }} {{ familiar.ap_materno }}
                                </a>
                                </th>
                                <th>{{ familiar.id_tp_usuario }}</th>
                              </tr>
                            {% endfor %}
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}