{% extends 'rtdf/base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/main.css' %}" />
{% endblock %}

{% block content %}
    <body class="is-preload">
        <div class="global-container">
            <div class="card login-form">
                <div class="card-body">
                    <h1 class="card-title text-center">Listado de pacientes</h1>
                    <div class="card-text">
                        <table class="table">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nombre completo</th>
                                <th scope="col">Tipo de usuario</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                {% for paciente in pacientes %}
                                <th scope="row">{{ paciente.id_usuario }}</th>
                                <td>
                                <a href="{% url 'detalle_paciente' paciente.id_usuario %}">
                                {{ paciente.primer_nombre }} {{ paciente.segundo_nombre }} 
                                {{ paciente.ap_paterno }} {{ paciente.ap_materno }}
                                </a>
                                </td>
                                <td>{{ paciente.id_tp_usuario }}</td>
                              </tr>
                              {% empty %}
                              <tr>
                                  <td colspan="8">No hay pacientes.</td>
                              </tr>
                              {% endfor %}    
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}