{% extends 'rtdf/base.html' %}


{% block content %}

{% load static%}
<link rel="stylesheet" href="{% static 'app/css/css_profesionales/analisis_estadistico_profe.css' %}" />


<body class="is-preload">
    <div class="global-container">

        <div>
            <a href="{% url 'detalle_prof_infor' informe_id %}">Volver al detalle del informe</a>
        </div>

        </br>


        <h1 class="">Análisis estadístico para informe {{informe_id}}</h1>


        <div id="grafico" class="plot-container">
            {{ plot_div | safe }}
        </div>

        <div id="grafico" class="plot-container">
            {{ plot_sec | safe }}
        </div>

    </div>
</body>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    window.addEventListener('resize', function () {
        Plotly.Plots.resize('grafico');
    });
</script>

{% endblock %}