{% extends "rtdf/base.html" %}

{% block content %}

<style>
  .select-separado {
      margin-bottom: 10px; /* Ajusta el valor según la separación deseada */
  }
</style>

{% load static %}
<link rel="stylesheet" href="{% static 'app/css/tablas_titulo.css' %}"/>
<link rel="stylesheet" href="{% static 'app/css/css_profesionales/detalle_prof_infor.css' %}"/>


<body class="fondo-negro">
    <header class="row text-left titulo_header">
        <div class="col-lg-8">
            <a class="btn btn-outline-primary" href="{% url 'listado_informes' %}"><i class="fa-solid fa-arrow-left"></i> Volver a la lista de mis informes</a>
        </div>
    </header>



    <section id="tabla_fonos">

        <div class="col-lg-12 col-xl-12 col-xxl-12  align-items-center centrar my-5">
            <h1 class=" display-5 fw-bolder sub_titulo">Detalles del informe<span class="span_title"> ESV N°{{ informe.id_informe }} </span></h1>
        </div>

        <div class="col-lg-12 col-xl-12 col-xxl-12">
            <div>
                <a href="#" onclick="eliminarInformeEsv({{ informe.id_informe }})" class="btn btn-danger btn-derecha mb-3">
                    Eliminar<i class="fas fa-trash-alt" style="margin-left: 5px;"></i>
                </a>
                
                
                <a href="#" onclick="EditarInformeEsv({{ informe.id_informe }})" class="btn btn-primary btn-derecha">
                    Editar<i class="fas fa-pencil-alt" style="margin-left: 5px;"></i>
                </a>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>ID del informe:</th>
                        <td>{{ informe.id_informe }}</td>
                    </tr>
                
                    <tr>
                        <th>Rut del paciente:</th>
                        <td>{{ paciente_relacionado.id_usuario.numero_identificacion }}</td>
                    </tr>
                
                    <tr>
                        <th>Paciente:</th>
                        <td>{{ paciente_relacionado.id_usuario.primer_nombre }} {{ paciente_relacionado.id_usuario.ap_paterno }}
                            {{ paciente_relacionado.id_usuario.ap_materno }}
                        </td>
                    </tr>
                
                    <tr>
                        <th>Fecha:</th>
                        <td>{{ informe.fecha }}</td>
                    </tr>
                    <tr>
                        <th>Título:</th>
                        <td>{{ informe.titulo }}</td>
                    </tr>
                    <tr>
                        <th>Descripción:</th>
                        <td>{{ informe.descripcion }}</td>
                    </tr>
                </tbody>
                </table>
            </div>

            <button type="button" class="btn btn-primary btn-block" id="mostrar-formulario-btn">Agregar nueva pauta terapéutica</button>
        </div>

        
    </section>

    <div class="container">
        <div id="formulario-pauta" class="general-form" style="display: none;">
            <form method="post">
                {% csrf_token %}
    
                <h2 class="hh2 mt-3">Ingresar pauta terapéutica de escala vocal</h2>
    
                <div class="form-group">
                    <label for="cant_veces_dia"><i class="fa-solid fa-rotate-left"></i>Cantidad de veces al día <span class="required">*</span></label>
                    {{ pauta_terapeutica_form.cant_veces_dia }}
                </div>
    
                <div class="form-group">
                    <label for="descripcion"><i class="fa-solid fa-notes-medical"></i> Descripción <span class="required">*</span></label>
                    {{ pauta_terapeutica_form.descripcion }}
                </div>
    
                <div class="form-row">
                    <div class="form-group col-md-12 col-lg-6">
                        <label for="fecha_inicio"><i class="fas fa-calendar"></i>Fecha de inicio <span class="required">*</span></label></br>
                        <input type="datetime-local" class="campo_fecha" id="fecha_inicio" name="fecha_inicio" value="{{ form.fecha_inicio.value|date:'Y-m-d\TH:i' }}">
                    </div>
    
                    <div class="form-group col-md-12 col-lg-6">
                        <label for="fecha_fin"><i class="fas fa-calendar"></i>Fecha de fin<span class="required">*</span></label></br>
                        <input type="datetime-local" class="campo_fecha" id="fecha_fin" name="fecha_fin" value="{{ form.fecha_fin.value|date:'Y-m-d\TH:i' }}">
                    </div>
                </div>    
    
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="comentario"><i class="fa-solid fa-comment-medical"></i>Comentarios <span class="required">*</span></label>
                        {{ pauta_terapeutica_form.comentario }}
                    </div>
                </div>
    
                <h2 class="hh2 mt-3">Ingresar las palabras para la pauta terapéutica</h2>
    
                </br>
    
                <div class="form-row" id="select-groups-container">
                  {% for select in selects %}
                      <div class="col-md-6 select-separado select-group">
                          <label for="palabra{{ select.id }}">Selecciona una palabra {{ select.id }}</label>
                          <select name="palabra{{ select.id }}" id="palabra{{ select.id }}" class="form-control">
                              <option value="">Selecciona una palabra</option>
                              {% for palabra in select.palabras_pacientes %}
                                  <option value="{{ palabra.id_palabras_pacientes }}"
                                      {% if palabra.id_palabras_pacientes == select.palabras_select.id_palabras_pacientes %}selected{% endif %}>
                                      {{ palabra.palabras_paciente }}
                                  </option>
                              {% endfor %}
                          </select>
                          </br>
                      </div>
                  {% endfor %}
              </div>
    
            </br>
    
                <div class="form-row  mt-2 ">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary btn-block mx-auto float-right boton-preguntas" id="anterior-btn"><i class="fa-solid fa-arrow-left flecha-izquierda"></i>Anterior</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary btn-block mx-auto float-right boton-preguntas" id="siguiente-btn">Siguiente <i class="fa-solid fa-arrow-right flecha-derecha"></i></button>
                    </div>
                </div>
    
              </br>
    
    
                </br>
    
                <div class="row">
                    <div class="col-sm-6 mb-2">
                        <button type="button" class="btn btn-danger w-100" id="ocultar-formulario-btn">Descartar la nueva pauta terapéutica</button>
                    </div>
                    <div class="col-sm-6 mb-2 custom-div">
                        <button type="submit" class="btn btn-primary w-100">Guardar la nueva pauta terapéutica</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <section id="tabla_fonos">

        <div class="col-lg-12 col-xl-12 col-xxl-12  align-items-center centrar my-5">
            <h1 class=" display-5 fw-bolder sub_titulo">Puntajes del<span class="span_title"> Paciente ESV </span></h1>
            <p class="texto_pauta">Puntajes obtenidos por el pacientes asociados a sus respuestas en el informe de Escala de Síntomas Vocales.</p>
        </div>

        <div class="col-lg-12 col-xl-12 col-xxl-12">
            <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Total ESV</th>
                        <th scope="col">Limitacion ESV</th>
                        <th scope="col">Emocional ESV</th>
                        <th scope="col">Fisico ESV</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>{{ informe.esv.total_esv }}</th>
                        <th>{{ informe.esv.limitacion }}</th>
                        <th>{{ informe.esv.emocional }}</th>
                        <th>{{ informe.esv.fisico }}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>

    </section>

    <section id="tabla_fonos">

    <div class="col-lg-12 col-xl-12 col-xxl-12  align-items-center centrar my-5">
        <h1 class=" display-5 fw-bolder sub_titulo">Pauta terapéutica <span class="span_title"> Escala Vocal </span></h1>
        <p class="texto_pauta">Aquí se enumeran todos las pautas terapéuticas de escala vocal adjuntas al informe. Para obtener más información, haz clic en el id en azul de la pauta:</p>
    </div>

    <div class="col-lg-12 col-xl-12 col-xxl-12">
        <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID de la pauta</th>
                    <th scope="col">N° veces al día</th>
                    <th scope="col">Fecha de inicio</th>
                    <th scope="col">Fecha de fin</th>
                    <th scope="col">Descripción</th>
                </tr>
            </thead>
            <tbody>
                {% for pauta in pautas_terapeuticas %}
                <tr>
                    <th scope="row">
                        <a href="{% url 'detalle_pauta_esv' pauta.id_pauta_terapeutica %}">Pauta {{ pauta.id_pauta_terapeutica }}</a>
                    </th>
                    <td>{{ pauta.cant_veces_dia }}</td>
                    <td>{{ pauta.fecha_inicio }}</td>
                    <td>{{ pauta.fecha_fin }}</td>
                    <td>{{ pauta.descripcion }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="8">Este informe aún no cuenta con pautas terapéuticas de vocalización adjuntas.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>

</section>
</div>



</body>









<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'app/js/template/pauta_terapeutica.js' %}"></script>


<script src="{% static 'app/js/desplazador_palabras.js' %}"></script>


<script>

    function eliminarInformeEsv(id_informe) {
        Swal.fire({
            "title":"¿Estas seguro?",
            "text": "esta acción no se puede deshacer.",
            "icon":"error",
            "showCancelButton": true,
            "cancelButtonText": "No, Cancelar",
            "cancelButtonColor": "#3085d6",
            "confirmButtonText": "Si, Eliminar",
            "reverseButtons":true,
            "confirmButtonColor":"#d33"
        })
            .then(function(result){
                if(result.isConfirmed){
                    window.location.href = "/eliminar_informe/"+id_informe+"/"
                }
            })

    }


    function EditarInformeEsv(id_informe) {
        Swal.fire({
            "title":"¿Estás seguro?",
            "text": "Solo podrá editar el titulo, la descripción, la fecha y la observación. Si desea modificar las respuestas, deberá eliminar este informe y crear otro.",
            "icon":"warning",
            "showCancelButton": true,
            "cancelButtonText": "No, Cancelar",
            "cancelButtonColor": "#3085d6",
            "confirmButtonText": "Si, Editar",
            "reverseButtons":true,
            "confirmButtonColor":"#d33"
        })
            .then(function(result){
                if(result.isConfirmed){
                    window.location.href = "/editar_esv/"+id_informe+"/"
                }
            })

    }

</script>

{% endblock %}
