{% extends 'rtdf/base.html' %}

{% block content %}
    <div>
        <a href="{% url 'listado_pacientes' %}">Volver a la lista de mis pacientes</a>
    </div>   
    </br>
    </br>
    <div class="container">
        <h1>Detalles del paciente {{ paciente.primer_nombre }} {{ paciente.ap_paterno }}</h1>
      </br>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Rut</th>
            <th scope="col">Correo electronico</th>
            <th scope="col">Comuna</th>
            <th scope="col">Numero de contacto</th>
            <th scope="col">telegram</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{ paciente.numero_identificacion }}</th>
            <td>{{ paciente.email }}</td>
            <td>{{ paciente.id_comuna }}</td>
            <td>{{ paciente.numero_telefonico }}</td>
            <td>{{ paciente_info.telegram }}</td>
          </tr>
        </tbody>
      </table>
    </br>
    </br>
    <h2><strong>Enfermedades del paciente</strong></h2>
    </br>

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="col-6">Diabetes</th>
            <th scope="col" class="col-6">Hipertension</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td >{{ paciente_info.fk_tipo_diabetes }}</td>
            <td>{{ paciente_info.fk_tipo_hipertension }}</td>
          </tr>
        </tbody>
      </table>
  </br>

{% endblock %}