{% extends "rtdf/base.html" %}

{% block content %}

<style>
  .select-separado {
      margin-bottom: 10px; /* Ajusta el valor según la separación deseada */
  }
</style>

{% load static %}

<div>
    <a href="{% url 'listado_informes' %}">Volver a la lista de mis informes</a>
</div>

</br>

<h1>Detalle del Informe ESV</h1>

</br>
<a href="{% url 'eliminar_informe_esv' informe.id_informe %}" class="btn btn-danger btn-derecha" 
    onclick="return confirm('¿Estás seguro de eliminar el informe?')">Eliminar ESV 
    <i class="fas fa-trash-alt" style="margin-left: 5px;"></i> </a>
<a href="{% url 'editar_esv' informe.id_informe %}" class="btn btn-primary btn-derecha" 
    onclick="return confirm('¿Estás seguro de editar el informe ESV? solo podra editar el titulo, la descripcion, la fecha y la observación. Si desea modificar las respuestas, debera eliminar este informe y crear otro.')">
    Editar <i class="fas fa-pencil-alt" style="margin-left: 5px;"></i>
</a>

<table>
    <tr>
        <th>ID del informe:</th>
        <td>{{ informe.id_informe }}</td>
    </tr>

    <tr>
        <th>Rut del paciente:</th>
        <td>{{ paciente_relacionado.id_usuario.numero_identificacion }}</td>
    </tr>

    <tr>
        <th>Paciente:</th>
        <td>{{ paciente_relacionado.id_usuario.primer_nombre }} {{ paciente_relacionado.id_usuario.ap_paterno }}
            {{ paciente_relacionado.id_usuario.ap_materno }}
        </td>
    </tr>

    <tr>
        <th>Fecha:</th>
        <td>{{ informe.fecha }}</td>
    </tr>
    <tr>
        <th>Título:</th>
        <td>{{ informe.titulo }}</td>
    </tr>
    <tr>
        <th>Descripción:</th>
        <td>{{ informe.descripcion }}</td>
    </tr>
</table>

</br>

<button type="button" class="btn btn-primary btn-block" id="mostrar-formulario-btn">Agregar nueva pauta terapéutica</button>

</br>

<div class="container">
    <div id="formulario-pauta" style="display: none;">
        <form method="post">
            {% csrf_token %}

            <h2>Ingresar pauta terapeutica de escala vocal</h2>

            <div class="form-group">
                <label for="cant_veces_dia">Cantidad de veces al día:</label>
                {{ pauta_terapeutica_form.cant_veces_dia }}
            </div>

            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                {{ pauta_terapeutica_form.descripcion }}
            </div>

            <div class="form-group">
                <label for="fecha_inicio">Fecha de inicio:</label></br>
                <input type="datetime-local" id="fecha_inicio" name="fecha_inicio">
            </div>

            <div class="form-group">
                <label for="fecha_fin">Fecha de fin:</label></br>
                <input type="datetime-local" id="fecha_fin" name="fecha_fin">
            </div>

            <div class="form-group">
                <label for="comentario">Comentarios:</label>
                {{ pauta_terapeutica_form.comentario }}
            </div>

            <h2>Ingresar las palabras para las pautas terapeuticas</h2>

            </br>

            <div class="form-row" id="select-groups-container">
              {% for select in selects %}
                  <div class="col-md-6 select-separado select-group">
                      <label for="palabra{{ select.id }}">Selecciona una palabra {{ select.id }}:</label>
                      <select name="palabra{{ select.id }}" id="palabra{{ select.id }}" class="form-control">
                          <option value="">Selecciona una palabra</option>
                          {% for palabra in select.palabras_pacientes %}
                              <option value="{{ palabra.id_palabras_pacientes }}"
                                  {% if palabra.id_palabras_pacientes == select.palabras_select.id_palabras_pacientes %}selected{% endif %}>
                                  {{ palabra.palabras_paciente }}
                              </option>
                          {% endfor %}
                      </select>
                      </br>
                  </div>
              {% endfor %}
          </div>
            </br>
          </br>

            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-secondary w-100" id="anterior-btn">Anterior</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary w-100" id="siguiente-btn">Siguiente</button>
                </div>
            </div>

          </br>


            </br>

            <div class="row">
                <div class="col-sm-6 mb-2">
                    <button type="button" class="btn btn-danger w-100" id="ocultar-formulario-btn">Descartar la nueva pauta terapéutica</button>
                </div>
                <div class="col-sm-6 mb-2 custom-div">
                    <button type="submit" class="btn btn-primary w-100">Guardar la nueva pauta terapéutica</button>
                </div>
            </div>
        </form>
    </div>
</div>

</br>

<h2>Puntaje del paciente ESV</h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID del informe</th>
            <th scope="col">Total ESV</th>
            <th scope="col">Limitacion ESV</th>
            <th scope="col">Emocional ESV</th>
            <th scope="col">Fisico ESV</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">ID informe {{ informe.id_informe }}</th>
            <th>{{ informe.esv.total_esv }}</th>
            <td>{{ informe.esv.limitacion }}</td>
            <td>{{ informe.esv.emocional }}</td>
            <td>{{ informe.esv.fisico }}</td>
        </tr>
    </tbody>
</table>

</br>

<h2>Pauta terapeutica: Escala vocal</h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID de la pauta</th>
            <th scope="col">N° veces al día</th>
            <th scope="col">Fecha de inicio</th>
            <th scope="col">Fecha de fin</th>
            <th scope="col">Descripción</th>
        </tr>
    </thead>
    <tbody>
        {% for pauta in pautas_terapeuticas %}
        <tr>
            <th scope="row">
                <a href="{% url 'detalle_pauta_esv' pauta.id_pauta_terapeutica %}">Pauta {{ pauta.id_pauta_terapeutica }}</a>
            </th>
            <td>{{ pauta.cant_veces_dia }}</td>
            <td>{{ pauta.fecha_inicio }}</td>
            <td>{{ pauta.fecha_fin }}</td>
            <td>{{ pauta.descripcion }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="8">Este informe aún no cuenta con pautas terapéuticas de vocalización adjuntas.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'app/js/template/pauta_terapeutica.js' %}"></script>


<script src="{% static 'app/js/desplazador_palabras.js' %}"></script>

{% endblock %}
