{% extends 'rtdf/base.html' %}

{% load static %}

{% block content %}
<body class="is-preload">
    <form method="post">

    <a href="{% url 'detalle_prof_infor' informe.id_informe %}">Volver al detalle del informe</a>
    <br>
    <br>
        {% csrf_token %}
        <h1>Editar Informe {{ informe.id_informe }} 
            {{ informe.fk_relacion_pa_pro.id_paciente.id_usuario.primer_nombre }}
            {{ informe.fk_relacion_pa_pro.id_paciente.id_usuario.ap_paterno }}</h1>
        <br>

        <div class="form-group col-md-4">
            <label for="fk_relacion_pa_pro">Paciente:</label>
            {{ form.fk_relacion_pa_pro }}
        </div>

        <div class="form-group col-md-6">
            <label for="titulo">Título:</label>
            {{ form.titulo }}
        </div>

        <div class="form-group col-md-10">
            <label for="descripcion">Descripción:</label>
            {{ form.descripcion }}
        </div>

        <div class="form-group col-md-4">
            <label for="fecha">Fecha:</label><br>
            <input type="datetime-local" id="fecha" name="fecha" value="{{ form.fecha.value|date:'Y-m-d\TH:i' }}">
        </div>

        <div class="form-group col-md-10">
            <label for="observacion">Observación:</label>
            {{ form.observacion }}
        </div>

        <div class="form-group col-md-4">
            <label for="tp_informe">Tipo de Informe:</label>
            <select id="tp_informe" name="{{ form.tp_informe.name }}" class="form-control form-control-sm" readonly>
                {% for choice in form.tp_informe.field.choices %}
                    <option value="{{ choice.0 }}" {% if choice.0 == form.tp_informe.value %}selected{% endif %}>
                        {{ choice.1 }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Verificar si tiene un tipo de informe asociado -->
        {% if informe.tp_informe.tipo_informe == 'GRBAS' %}
        <div id="campos-grbas">
            <div class="form-group col-md-4">
                <label for="{{ grbas_form.g_grado_disfonia.id_for_label }}">Grado de Disfonía:</label>
                {{ grbas_form.g_grado_disfonia }}
            </div>

            <div class="form-group col-md-4">
                <label for="{{ grbas_form.r_aspereza.id_for_label }}">Rugosidad de la voz:</label>
                {{ grbas_form.r_aspereza }}
            </div>

            <div class="form-group col-md-4">
                <label for="{{ grbas_form.b_soplo.id_for_label }}">(B) Respiración dificultosa:</label>
                {{ grbas_form.b_soplo }}
            </div>

            <div class="form-group col-md-4">
                <label for="{{ grbas_form.a_debilidad.id_for_label }}">Astenia o grado de fatiga de voz:</label>
                {{ grbas_form.a_debilidad }}
            </div>

            <div class="form-group col-md-4">
                <label for="{{ grbas_form.s_tension.id_for_label }}">Grado de tensión vocal:</label>
                {{ grbas_form.s_tension }}
            </div>
        </div>
        {% endif %}

        <!-- Campos para RASATI si es un informe de tipo RASATI -->
        {% if informe.tp_informe.tipo_informe == 'RASATI' %}
        <div id="campos-rasati">
            <div class="form-group">
                <label for="{{ rasati_form.r_ronquedad.id_for_label }}">Ronquedad:</label>
                {{ rasati_form.r_ronquedad }}
            </div>

            <div class="form-group">
                <label for="{{ rasati_form.a_aspereza.id_for_label }}">Aspereza:</label>
                {{ rasati_form.a_aspereza }}
            </div>

            <div class="form-group">
                <label for="{{ rasati_form.s_soplo.id_for_label }}">Soplo:</label>
                {{ rasati_form.s_soplo }}
            </div>

            <div class="form-group">
                <label for="{{ rasati_form.a_astenia.id_for_label }}">Astenia:</label>
                {{ rasati_form.a_astenia }}
            </div>

            <div class="form-group">
                <label for="{{ rasati_form.t_tension.id_for_label }}">Tensión:</label>
                {{ rasati_form.t_tension }}
            </div>

            <div class="form-group">
                <label for="{{ rasati_form.i_inestabilidad.id_for_label }}">Inestabilidad:</label>
                {{ rasati_form.i_inestabilidad }}
            </div>
        </div>
        {% endif %}

        <button type="submit" class="btn btn-primary btn-block">Actualizar</button>
    </form>
</body>
{% endblock %}
