{% extends "rtdf/base.html" %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'app/css/css_profesionales/editar_pauta_esv.css' %}"/>

<div class="container">
    <div id="formulario-pauta" class="general-form" >
        <form method="post">
            <br>
            <a class="btn btn-outline-primary" href="{% url 'detalle_pauta_esv' pauta.id_pauta_terapeutica %}"><i class="fa-solid fa-arrow-left"></i> Volver a detalle de la pauta</a>
            </br>
            </br>
            <h1 class="card-title text-center">Editar Pauta Terapéutica de Escala Vocal</h1>
            </br>

            {% csrf_token %}

            <div class="form-group">
                <label for="cant_veces_dia"><i class="fa-solid fa-rotate-left"></i> Cantidad de veces al día</label>
                {{ form.cant_veces_dia }}
            </div>

            <div class="form-group">
                <label for="descripcion"><i class="fa-solid fa-notes-medical"></i> Descripción</label>
                {{ form.descripcion }}
            </div>

            <div class="form-row">
                <div class="form-group col-md-12 col-lg-6">
                    <label for="fecha_inicio"><i class="fas fa-calendar"></i> Fecha Inicio</label><br>
                    <input type="datetime-local" id="fecha_inicio" name="fecha_inicio" class="campo_fecha" value="{{ form.fecha_inicio.value|date:'Y-m-d\TH:i' }}">
                </div>

                <div class="form-group col-md-12 col-lg-6">
                    <label for="fecha_fin"><i class="fas fa-calendar"></i> Fecha fin</label><br>
                    <input type="datetime-local" id="fecha_fin" name="fecha_fin" class="campo_fecha" value="{{ form.fecha_fin.value|date:'Y-m-d\TH:i' }}">
                </div>
            </div>

            <div class="form-group">
                <label for="comentario"><i class="fa-solid fa-comment-medical"></i>Comentario</label>
                {{ form.comentario }}
            </div>

        </br>

            <h2 class="card-title text-center">Palabras para la Pauta</h2>
            </br>
            <div class="form-row" id="select-groups-container">
                {% for select in selects %}
                    <div class="col-md-6 select-separado select-group">
                        <label for="palabra{{ select.id }}">Selecciona palabra {{ select.id }}</label>
                        <select name="palabra{{ select.id }}" id="palabra{{ select.id }}" class="form-control">
                            <option value="">Selecciona una palabra</option>
                            {% for palabra in select.palabras_pacientes %}
                            <option value="{{ palabra.id_palabras_pacientes }}"
                                {% if select.palabra_seleccionada and palabra.palabras_paciente == select.palabra_seleccionada %}selected{% endif %}>
                                {{ palabra.palabras_paciente }}
                            </option>
                        {% endfor %}
                        </select>
                        </br>
                    </div>
                {% endfor %}
            </div>

            </br>

            <div class="form-row  mt-2 ">
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary btn-block mx-auto float-right boton-preguntas" id="anterior-btn"><i class="fa-solid fa-arrow-left flecha-izquierda"></i> Anterior</button>
                </div>
                <div class="col-md-6">
                    <button type="button"  class="btn btn-primary btn-block mx-auto float-left boton-preguntas" id="siguiente-btn">Siguiente <i class="fa-solid fa-arrow-right flecha-derecha"></i></button>
                </div>
            </div>

            </br>
            </br>

            <div class="boton_esv">
                <button type="submit" class="btn btn-primary btn-block mx-auto">Guardar Cambios</button>
            </div>

        </form>
    </div>
</div>

<script src="{% static 'app/js/desplazador_palabras.js' %}"></script>

{% endblock %}
