{% extends 'rtdf/base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'app/css/main.css' %}" />
{% endblock %}

{% block content %}
<body class="is-preload">
    <form method="post">
        {% csrf_token %}
        <h1>Ingresar Informe</h1>
        <br>

        <div class="form-group col-md-4">
            <label for="fk_relacion_pa_pro">Paciente:</label>
            {{ form.fk_relacion_pa_pro }}
        </div>

        <div class="form-group col-md-6">
            <label for="titulo">Título:</label>
            {{ form.titulo }}
        </div>

        <div class="form-group col-md-10">
            <label for="descripcion">Descripción:</label>
            {{ form.descripcion }}
        </div>

        <div class="form-group col-md-4">
            <label for="fecha">Fecha:</label></br>
            <input type="datetime-local" id="fecha" name="fecha" value="{{ form.fecha.value|date:'Y-m-d\TH:i' }}" readonly>
        </div>

        <div class="form-group col-md-10">
            <label for="observacion">Observación:</label>
            {{ form.observacion }}
        </div>

        <div class="form-group col-md-4">
            <label for="tp_informe">Tipo de Informe:</label>
            <select id="tp_informe" name="{{ form.tp_informe.name }}" class="form-control form-control-sm">
                <option value="" selected>Tipo de informe para diagnostico</option>
                {% for choice in form.tp_informe.field.choices %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
            </select>
        </div>

    {% comment %}Aqui va campos para GRBAS{% endcomment %}

    <div class="campos-grbas">

        <div class="form-group col-md-4">
            <label for="{{ grbas_form.g_grado_disfonia.id_for_label }}">Grado de Disfonía:</label>
            {{ grbas_form.g_grado_disfonia }}
        </div>

        <div class="form-group col-md-4">
            <label for="{{ grbas_form.r_aspereza.id_for_label }}">Rugosidad de la voz:</label>
            {{ grbas_form.r_aspereza }}
        </div>

        <div class="form-group col-md-4">
            <label for="{{ grbas_form.b_soplo.id_for_label }}">(B) Respiracion dificultosa:</label>
            {{ grbas_form.b_soplo }}
        </div>        

        <div class="form-group col-md-4">
            <label for="{{ grbas_form.a_debilidad.id_for_label }}">Astenia o grado de fatiga de voz:</label>
            {{ grbas_form.a_debilidad }}
        </div>        

        <div class="form-group col-md-4">
            <label for="{{ grbas_form.s_tension.id_for_label }}">Grado de tension vocal:</label>
            {{ grbas_form.s_tension }}
        </div>   

    </div>

    {% comment %} Aca termina campos para GRBAS {% endcomment %}


    {% comment %}Aqui va campos para RASATI{% endcomment %}

    <div class="campos-rasati">
        
        <div class="form-group col-md-4">
            <label for="{{ rasati_form.r_ronquedad.id_for_label }}">Ronquedad:</label>
            {{ rasati_form.r_ronquedad }}
        </div>

        <div class="form-group col-md-4">
            <label for="{{ rasati_form.a_aspereza.id_for_label }}">Aspereza:</label>
            {{ rasati_form.a_aspereza }}
        </div>

        <div class="form-group col-md-4">
            <label for="{{ rasati_form.s_soplo.id_for_label }}">Soplo:</label>
            {{ rasati_form.s_soplo }}
        </div>

        <div class="form-group col-md-4">
            <label for="{{ rasati_form.a_astenia.id_for_label }}">Astenia:</label>
            {{ rasati_form.a_astenia }}
        </div>

        <div class="form-group col-md-4">
            <label for="{{ rasati_form.t_tension.id_for_label }}">Tension:</label>
            {{ rasati_form.t_tension }}
        </div>

        <div class="form-group col-md-4">
            <label for="{{ rasati_form.i_inestabilidad.id_for_label }}">Inestabilidad:</label>
            {{ rasati_form.i_inestabilidad }}
        </div>

        
    </div>

    {% comment %} Aca termina campos para RASATI {% endcomment %}

    <div class="form-group col-md-4">   
    </br>
        <button type="submit" class="btn btn-primary btn-block">Registrar informe</button>
    </div>
</form>

</body>

<script src="{% static 'app/js/formularios.js' %}"></script>
{% endblock %}