{% extends 'rtdf/base.html' %}

{% block content %}

<h1>Pacientes disponibles</h1>
<br>

<p><strong>Solo puedes tener un maximo de 10 pacientes</strong></p>

<div class="table-responsive">
  <table class="table">
    <thead class="thead-dark">
        <tr>
            <th>ID del paciente</th>
            <th>Nombre del paciente</th>
            <th>Correo electronico</th>
            <th>telegram</th>
            <th>Añadir paciente</th>
        </tr>
    </thead>
    <tbody>
        {% for paciente in pacientes_disponibles %}
            <tr>
                <td>{{ paciente.id_usuario.id_usuario }}</td>
                <td>{{ paciente.id_usuario.primer_nombre }}
                  {{ paciente.id_usuario.segundo_nombre }}
                  {{ paciente.id_usuario.ap_paterno }}
                  {{ paciente.id_usuario.ap_materno }}
                </td>
                <td>{{ paciente.id_usuario.email }}</td>
                <td>{{ paciente.telegram }}</td>
                <td>
                  <a href="{% url 'agregar_paciente' paciente.id_paciente %}" class="btn btn-primary"
                  onclick="return confirm('¿Estás seguro de añadir a este paciente?')">Añadir paciente</a>
              </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">No hay pacientes disponibles sin profesional asignado.</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}