{% extends 'rtdf/base.html' %}

<html>
    {% block content %}
    <head>
        <title>RTDF</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'app/css/metronomo.css' %}"/>
    </head>
    <body class="is-preload">
            <h1 style="text-align: center;">Pauta terapéutica N°{{ pauta_seleccionada.id_pauta_terapeutica }} de Vocalización</h1>
            <br/>
            {% if pauta_seleccionada %}
                    {% comment %} <table class="table" hidden>
                        <thead class="thead-dark">
                            <tr>
                                <th>Descripción</th>
                                <th>Cantidad de veces al día</th>
                                <th>Duración del ejercicio (segundos)</th>
                                <th>BPM ajustado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ pauta_seleccionada.descripcion }}</td>
                                <td>{{ pauta_seleccionada.cant_veces_dia }}</td>
                                <td>{{ pauta_seleccionada.vocalizacion.duracion_seg }}</td>
                                <td>{{ pauta_seleccionada.vocalizacion.bpm }}</td>
                            </tr>
                        </tbody>
                    </table> {% endcomment %}
                    {% else %}
                    <p style="text-align: center;">No se ha seleccionado una pauta terapéutica.</p>
                    {% endif %}

    </br>
        

    {% if pauta_seleccionada %}

        <div class="container">
            <div class="metronome">
                <div class="metronome-info">
                    <h1><strong>Buenos días</strong> {{ user.primer_nombre }} {{ user.ap_paterno }}</h1>
                    <br/>
                    <p>El numero de tu pauta es <strong>{{ pauta_seleccionada.id_pauta_terapeutica }}</strong>. 
                        Esta semana debes trabajar con <b>{{ pauta_seleccionada.vocalizacion.bpm }} BPM</b>. Este sera ajustado automaticamente.</p>
                    <p>Deberas realizar el ejercicio <b>{{ pauta_seleccionada.cant_veces_dia }} </b> veces al día </p>
                    <p>Al ejercitar, debes respirar por la nariz y tus ejercicios deben durar aproximadamente <b>{{ pauta_seleccionada.vocalizacion.duracion_seg }} segundos</b>.</p>
                    <p>El tempo de este ejercicio es de <b>{{ pauta_seleccionada.vocalizacion.tempo }} segundos</b>.</p>
                </div>
                <div class="bpm-display">
                    <span class="tempo">{{ pauta_seleccionada.vocalizacion.bpm }}</span>
                    <span class="bpm">BPM</span>
                </div>
                <div class="tempo-text">Nice and steady</div>
                <div class="tempo-settings">
                    <div class="adjust-tempo-btn decrease-tempo">-</div>
                    <div class="slider-container">
                        <input type="range" min="20" max="280" step="1" class="slider">
                    </div>
                    <div class="adjust-tempo-btn increase-tempo">+</div>
                </div>
                <div class="start-stop">Empezar</div>
                <div class="measures">
                    <div class="subtract-beats stepper">-</div>
                    <div class="measure-count">{{pauta_seleccionada.vocalizacion.tempo}}</div>
                    <div class="add-beats stepper">+</div>
                </div>
                <span class="beats-per-measure-text">Beats per measure</span>
            </div>
        </div>

    {% else %}
        <div class="container">
            <div class="metronome">
                <div class="metronome-info">
                    <h1><strong>Buenos días</strong> {{ user.primer_nombre }} {{ user.ap_paterno }}</h1>
                    <p style="text-align: center;">No se ha seleccionado una pauta terapéutica.</p>
                </div>
                <div class="bpm-display">
                    <span class="tempo">50</span>
                    <span class="bpm">BPM</span>
                </div>
                <div class="tempo-text">Nice and steady</div>
                <div class="tempo-settings">
                    <div class="adjust-tempo-btn decrease-tempo">-</div>
                    <div class="slider-container">
                        <input type="range" min="20" max="280" step="1" class="slider">
                    </div>
                    <div class="adjust-tempo-btn increase-tempo">+</div>
                </div>
                <div class="start-stop">Empezar</div>
                <div class="measures">
                    <div class="subtract-beats stepper">-</div>
                    <div class="measure-count">4</div>
                    <div class="add-beats stepper">+</div>
                </div>
                <span class="beats-per-measure-text">Beats per measure</span>
            </div>
        </div>
    {% endif %}
        

    </body>

    <script src="{% static 'app/js/metronomo.js' %}"></script>
    <script src="{% static 'app/js/RecordRTC.js' %}"></script>
    <script src="{% static 'app/js/microfono_utils.js' %}"></script>
    <script>
        window.bpm = {{ pauta_seleccionada.vocalizacion.bpm }};
        window.duracion_seg = {{ pauta_seleccionada.vocalizacion.duracion_seg }};
        window.tempo = {{ pauta_seleccionada.vocalizacion.tempo }};
    </script>
{% endblock %}
</html>